h1 {
  font-family: Sans-Serif;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  text-decoration: underline;
}

div::first-letter {
	text-align: center;
	font-size: 40px;
}

nav a {
 /* Code */	
}

nav a:hover {
	/*Code */
}

nav:active {
	/*Code*/
}


.TitleDesign {
	
	width: 1000px;
	padding: 25px 10px 10px 315px;


}

.Links {
	text-align: center;
	font-size: 20px;
}



#StartQuote {
  font-size: 22px;
  color: #29a329;
  font: Georgia;
  font-weight: italic;
  text-align: center;
  background-color: #E0E0E0;
}

#aboutHeader {
	text-align: left;
	text-decoration: underline;
	font-weight: bold;
	font-size: 40px;
	font: Arial;
}

@keyframes backg {
	0%{background-color: #E6E6E6;}
	25&{background-color: #D8D8D8;}
	50&{background-color: #A4A4A4;}
	75%{background-color: #585858;}
	100%{background-color: #A4A4A4;}
}

body {
	
	animation-name: backg;
	animation-duration: 4s;
	background-color: #D8D8D8 ;
}

.Content {
	
}
