.Title {
  font: Georgia;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  text-decoration: underline;
}

.TitleDesign {
	
	width: 1000px;
	padding: 25px 10px 10px 315px;


}

#StartQuote {
  font-size: 22px;
  color: #29a329;
  font: Georgia;
  font-weight: italic;
  text-align: center;
  background-color: #E0E0E0;
}

#aboutHeader {
	text-align: left;
	text-decoration: underline;
	font-weight: bold;
	font-size: 40px;
	font: Arial;
}

@keyframes backg {
	from {
		background: #c4c3be;
	}
	to {
		background: #FFFFFF;
	}
}

body {
	animation-name: backg;
	animation-duration: 5s;
}
