.Title {
  font-family: prime;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  text-decoration: underline;
}

@font-face {
	font-family: prime;
	src: url(http://www.1001freefonts.com/prime_script.font)
}

.TitleDesign {
	
	width: 1000px;
	padding: 25px 10px 10px 315px;


}

.Links {
	text-align: center;
	font-size: 20px;
}

#StartQuote {
  font-size: 22px;
  color: #29a329;
  font: Georgia;
  font-weight: italic;
  text-align: center;
  background-color: #E0E0E0;
}

#aboutHeader {
	text-align: left;
	text-decoration: underline;
	font-weight: bold;
	font-size: 40px;
	font: Arial;
}

@keyframes backg {
	0%{background-color: white;}
	25&{background-color: blue;}
	50&{background-color: white;}
	65%{background-color: blue;}
	100%{background-color: white;}
}


body {
	-webkit-animation-duration: 4s;
	-webkit-animation-name: backg;

}
